In [67]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy
%matplotlib inline

In [68]:
df = pd.read_csv('Y:/GitHub/BTS_MasterInBigData-Francisco/Session_3_CDA/FileData/1_titanic_dataset.csv', index_col=0)
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    889 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 83.5+ KB

In [71]:
sum(df["Age"].isnull())

177

In [72]:
Age_mean = df["Age"].mean()
Age_mean

29.69911764705882

In [75]:
df["Age"] = df["Age"].replace(numpy.NaN, Age_mean)

In [77]:
sum(df["Age"].isnull())

0

In [89]:
X = df[["Age","Fare"]]
y = df["Survived"]

In [90]:
X = sm.add_constant(X)
X.head()

             const   Age     Fare
PassengerId
1              1.0  22.0   7.2500
2              1.0  38.0  71.2833
3              1.0  26.0   7.9250
4              1.0  35.0  53.1000
5              1.0  35.0   8.0500

In [91]:
model = sm.OLS(y, X).fit()

In [92]:
predictions = model.predict(X) 
predictions

PassengerId
1      0.345989
2      0.456347
3      0.333652
4      0.419570
5      0.302263
6      0.322005
7      0.349395
8      0.452465
9      0.338482
10     0.433604
11     0.434026
12     0.269388
13     0.355120
14     0.348644
15     0.375753
16     0.252488
17     0.473427
18     0.333832
19     0.342267
20     0.318794
21     0.349004
22     0.318676
23     0.372685
24     0.398408
25     0.431322
26     0.352461
27     0.318794
28     1.022518
29     0.320498
30     0.320541
         ...
862    0.360580
863    0.303010
864    0.481085
865    0.353914
866    0.290486
867    0.345578
868    0.426885
869    0.324718
870    0.419530
871    0.333576
872    0.375863
873    0.301369
874    0.262451
875    0.368463
876    0.370591
877    0.359796
878    0.358243
879    0.320541
880    0.423840
881    0.384242
882    0.308909
883    0.354496
884    0.333309
885    0.334897
886    0.343046
887    0.343343
888    0.415801
889    0.361043
890    0.391134
891    0.312053
Length: 891, dtype: float64

In [93]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:               Survived   R-squared:                       0.075
Model:                            OLS   Adj. R-squared:                  0.073
Method:                 Least Squares   F-statistic:                     36.00
Date:                Fri, 10 Nov 2017   Prob (F-statistic):           9.28e-16
Time:                        16:50:56   Log-Likelihood:                -587.23
No. Observations:                 891   AIC:                             1180.
Df Residuals:                     888   BIC:                             1195.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.4046      0.040     10.176      0.000       0.327       0.483
Age           -0.0035      0.001     -2.905      0.004      -0.006      -0.001
Fare           0.0026      0.000      8.205      0.000       0.002       0.003
==============================================================================
Omnibus:                       31.268   Durbin-Watson:                   1.965
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              121.041
Skew:                           0.478   Prob(JB):                     5.20e-27
Kurtosis:                       1.469   Cond. No.                         158.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""